Amount to charge: {{ chargeAmount | currency }}
<br>

<!-- Basic Test -->
<!-- <ngx-braintree 
    [clientTokenURL]="'api/braintree/getclienttoken'" 
    [createPurchaseURL]="'api/braintree/createpurchase'" 
    [chargeAmount]="chargeAmount"
    (paymentStatus)="onPaymentStatus($event)">
</ngx-braintree> -->

<!-- When URLs are used -->
<!-- <ngx-braintree 
    [clientTokenURL] = "'api/braintree/getclienttoken'" 
    [createPurchaseURL] = "'api/braintree/createpurchase'" 
    [chargeAmount] = "chargeAmount"
    (paymentStatus) = "onPaymentStatus($event)" 
    [buttonText] = "'Purchase'" 
    [allowChoose] = "true" 
    [showCardholderName] = "true"
    [locale]="'en_AU'"
    [enabledStyle]="enabledStyle"
    [disabledStyle]="disabledStyle">
    <img src="../assets/images/externalLoader.gif">
    <div>
        <style>
            button {
                background-color: red;
                color: #ffffff;
                border: none;
                border-radius: 4px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                cursor: pointer;
            }
        
            button:disabled {
                background-color: rgb(236, 154, 154);
                color: #ffffff;
                border: none;
                border-radius: 4px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                cursor: not-allowed;
            }
        </style>
        <div><button (click)="navigateToPreviousPage()">Back</button> <button ngxPay>Pay Now</button></div>
    </div>
</ngx-braintree> -->

<!-- Examples on how to pass custom functions instead of passing clientTokenURL and createPurchaseURL -->

<!-- Example when ES 5 functions are used -->
<!-- <ngx-braintree 
    [getClientToken] = "getClientToken.bind(this)" 
    [createPurchase] = "createPurchase.bind(this)" 
    [chargeAmount] = "chargeAmount"
    (paymentStatus) = "onPaymentStatus($event)" 
    [buttonText] = "'Purchase'" 
    [allowChoose] = "true" 
    [showCardholderName] = "true"
    [locale]="'en_AU'">
</ngx-braintree> -->

<!-- Example when ES 2015 (ES 6) functions are used -->
<!-- <ngx-braintree 
    [getClientToken] = "getClientToken" 
    [createPurchase] = "createPurchase" 
    [chargeAmount] = "chargeAmount"
    (paymentStatus) = "onPaymentStatus($event)" 
    [buttonText] = "'Purchase'" 
    [allowChoose] = "true" 
    [showCardholderName] = "true"
    [locale]="'en_AU'">
</ngx-braintree> -->


<!-- Other examples -->
<ngx-braintree 
    [clientTokenURL]="'api/braintree/getclienttoken'" 
    [createPurchaseURL]="'api/braintree/createpurchase'" 
    [chargeAmount]="chargeAmount"
    (paymentStatus)="onPaymentStatus($event)"
    [hideLoader]="true">
    <div class="ngxLoader"><img src="../assets/images/externalLoader.gif"></div>
    <div class="ngxButtons">
        <style>
            button {
                background-color: red;
                color: #ffffff;
                border: none;
                border-radius: 4px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                cursor: pointer;
            }
    
            button:disabled {
                background-color: rgb(236, 154, 154);
                color: #ffffff;
                border: none;
                border-radius: 4px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                cursor: not-allowed;
            }
        </style>
        <div>
            <button (click)="navigateToPreviousPage()">Back</button>
            <button ngxPay>Pay Now</button>
        </div>
    </div>
</ngx-braintree>

<pre>{{ paymentResponse | json }}</pre>
