Amount to charge: {{ chargeAmount | currency }}
<br>

<!-- When URLs are used -->
<ngx-braintree 
    [clientTokenURL] = "'api/braintree/getclienttoken'" 
    [createPurchaseURL] = "'api/braintree/createpurchase'" 
    [chargeAmount] = "chargeAmount"
    (paymentStatus) = "onPaymentStatus($event)" 
    [buttonText] = "'Purchase'" 
    [allowChoose] = "true" 
    [showCardholderName] = "true"
    [locale]="'en_AU'"
    [enabledStyle]="enabledStyle"
    [disabledStyle]="disabledStyle">
</ngx-braintree>

<!-- Examples on how to pass custom functions instead of passing clientTokenURL and createPurchaseURL -->

<!-- Example when ES 5 functions are used -->
<!-- <ngx-braintree 
    [getClientToken] = "getClientToken.bind(this)" 
    [createPurchase] = "createPurchase.bind(this)" 
    [chargeAmount] = "chargeAmount"
    (paymentStatus) = "onPaymentStatus($event)" 
    [buttonText] = "'Purchase'" 
    [allowChoose] = "true" 
    [showCardholderName] = "true"
    [locale]="'en_AU'">
</ngx-braintree> -->

<!-- Exmple when ES 2015 (ES 6) functions are used -->
<!-- <ngx-braintree 
    [getClientToken] = "getClientToken" 
    [createPurchase] = "createPurchase" 
    [chargeAmount] = "chargeAmount"
    (paymentStatus) = "onPaymentStatus($event)" 
    [buttonText] = "'Purchase'" 
    [allowChoose] = "true" 
    [showCardholderName] = "true"
    [locale]="'en_AU'">
</ngx-braintree> -->

<pre>{{ paymentResponse | json }}</pre>
